body {
  background: url(img/gulf-of-alaska.jpg) no-repeat;
  background-size: cover;
  margin:0;
  padding:0;
}

* {box-sizing: border-box;}

.App {
  background: rgba(255,255,255,.9);
  box-shadow: 0px 0px 22px 11px rgba(0,0,0,0.25);
  /* border:2px solid silver; */
  border-radius: 12px; 
  max-width: 70%;
  margin: 75px auto;
  padding: 15px;
  position: relative;
  text-align: left;
  width: fit-content;
}

.all-tolman-skiffs {
  max-height: 750px;
  overflow-x: auto;
  padding-bottom: 25px;
}


label {
  color: #333;
  display:block;
  font-size:15px;
  font-weight: 700;
  margin-bottom:8px;
}

input,
select,
textarea {
  border: 1px solid silver;
  border-radius: 5px;
  font-size: 15px;
  padding: 4px 8px;
  width: 100%;
}

input[date]{
  font-size: 15px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

header {
  border-bottom: 2px solid #E5E4E1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding:0;
  margin: 0 25px 25px;
}

h1 {
  color: #333;
  margin:0;
  padding:0;
}

header h1 {
  display: flex;
  flex-direction: column;
  flex-basis: 80%;
  flex: 1;
  font-size: 26px;
}

header button.myButton {
 
  font-size: 18px;
  height: 32px;
  line-height: normal;
  padding:0 10px;
}


h1.title {
  /* background: #333;
  border: 1px solid #555; */
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: #333;
  font-size: 22px;
  margin:15px 0 0 0;
  padding:0 0 15px 0;
  text-align: left;
}
h1,
h2,
h4,
p {
  color: #444;
  margin: 15px;
}

.add-me {
  background: white;
  border:6px solid #333;
  border-radius: 50%;
  height:44px;
  left:-15px;
  position:absolute;
  top:-15px;
  width:44px;
  z-index: 33;
}

.add-me::after {
  color: #333;
  content: '+';
  font-size: 24px;
  font-weight:bolder;
  left:8px;
  position: absolute;
  z-index: 74;
}

#skiff {
  background: url(img/skiff.png) no-repeat;
  height: 600px;
  left:-408px;
  position: absolute;
  width: 800px;
  z-index: -1;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.form-list {
  background: #fafafa;
  border: 2px solid silver;
  border-radius: 8px;
  margin:0 auto;
  max-width: 600px;
  min-width: 500px;
  padding: 0;
}

.form-list li {
  border-radius: 5px;
  list-style: none;
  margin: 0 10px;
  padding: 5px 15px 8px 10px;
}

.form-list li:nth-child(even) {
  background: #ededed;
}

.form-list li:last-child {
  background: #ededed;
}

.form-list li label {
  margin:0;
  padding:0;
}

.onoffswitch {
  position: relative;
  width: 220px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.onoffswitch-checkbox {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.onoffswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 2px solid #999999;
  border-radius: 20px;
}

.onoffswitch-inner {
  display: block;
  width: 200%;
  margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}

.onoffswitch-inner:before,
.onoffswitch-inner:after {
  display: block;
  float: left;
  width: 50%;
  height: 30px;
  padding: 0;
  line-height: 30px;
  font-size: 14px;
  color: white;
  font-family: Trebuchet, Arial, sans-serif;
  font-weight: bold;
  box-sizing: border-box;
}

.onoffswitch-inner:before {
  content: "Yes! I'm done and fishing.";
  padding-left: 10px;
  background-color: #34A7C1;
  color: #FFFFFF;
}

.onoffswitch-inner:after {
  content: "No! It's complicated.";
  padding-left: 56px;
  background-color: #EEEEEE;
  color: #333;
  text-align: left;
}

.onoffswitch-switch {
  display: block;
  height: 18px;
  width: 18px;
  margin: 6px;
  background: #FFFFFF;
  position: absolute;
  /* top: 0; */
  bottom: 2px;
  right: 56px;
  right: 0;
  border: 2px solid #999999;
  border-radius: 20px;
  transition: all 0.3s ease-in 0s;
}

.onoffswitch-checkbox:checked+.onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}


.onoffswitch-checkbox:checked+.onoffswitch-label .onoffswitch-switch {
  left:unset;
  right: 0px;
  background: lime;
}

.onoffswitch-checkbox+.onoffswitch-label .onoffswitch-switch {
  right: 0px;
  background: orange;
  left:10px;
}

.error {
  background: white;
  border:5px dashed red;
  color: #333;
  padding: 15px;
}

.error-text {
  color:red;
}

.all-skiffs {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  margin:0;
  justify-content: center;
  padding:0;
}

.all-skiffs li {
  align-content: space-around;
  background: white;
  border-radius: 4px;
  box-shadow: 0px 0px 12px 0 rgba(0,0,0,0.25);
  display: inline-block;
  margin: 5px;
  padding:10px ;
  min-width: none;
}

.all-skiffs .image-wrapper {
  /* border:1px solid orange; */
  border-radius: 4px;
  display:block;
  height: 260px;
  margin: 0 auto;
  overflow: hidden;
  width: 346px;
}

.all-skiffs img {
  border:1px solid silver;
  border-radius: 4px;
  display: block;
  height: auto;
  margin: 0 auto;
  max-height: 260px;
  max-width: 346px;
}
.all-skiffs h4 {
  color: #333;
  margin: 10px 0;
}

.skiffpicture {
  max-width: 600px;
}

.skiff-description-list {
  list-style: none;
  margin:15px;
  max-width: 600px;
  padding:0;
}

.skiff-description-list li {
  margin: 5px 0 10px 0;
  padding:0;
}

.skiff-description-list li em {
 font-weight: bold;
}

.SubmitMe {
  background: red;
  border: 2px solid silver;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  padding: 5px 10px;
  width: auto;
}

.SubmitMe:active,
.SubmitMe:hover {
  background: darkred;
  color: white;
}

.button-wrapper {
  margin:0;
  padding:0;
  text-align: center;
}


.myButton,
.linkButton {
  background: red;
  border:1px solid lightgray;
  border-radius: 4px;
  color: white;
  cursor:pointer;
  font-size: 12px;
  font-weight: bold;
  margin-top: 12px;
  margin-right:15px;
  outline:0;
  padding: 2px 8px;
  justify-content: flex-end;
}

.button-wrapper .myButton {
  margin-top: 0;
}

button.myButton:hover,
.linkButton:hover {
  background:darkred;
  color: white;
}

button.myButton:focus,
button.myButton.active,
.linkButton:focus,
.linkButton:active {
  background: darkred;
  color: white;
  border: 2px solid red;
} 

.linkButton {
  margin-right:15px;
  text-decoration: none;
  color: #fff;
}

.myButton.secondary {
  background: white;
  color: #333;
}

.button-row {
  margin: 15px;
}

.edit-list {
  margin:0;
  padding: 0 25px;
}

.edit-list li {
  margin:0;
  padding:0;
}

.edit-list li {
  margin:0;
  padding-bottom:10px;
}

.edit-list li input {
  margin:0;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
